philo_time.csv
prod_cons_time.csv
readers_writers_time.csv

philo_time_ts.csv
prod_cons_time_ts.csv
readers_writers_time_ts.csv

philo_time_tts.csv
prod_cons_time_tts.csv
readers_writers_time_tts.csv

philosophers
prod_cons
readers_writers

philosophers_lock
prod_cons_lock
readers_writers_lock

philosophers_sem
prod_cons_sem
readers_writers_sem

locker.o
locker_tts.o
sem.o

combined_plots.png